body {
    background: linear-gradient(135deg, #1e1e2f, #121212);
    font-family: Consolas, monospace;
}

.calculator {
    width: 320px;
    background: #2b2b3c;
    border-radius: 15px;
}

.display {
    height: 55px;
    font-size: 22px;
    text-align: right;
    background: #000;
    color: #00ff90;
    border: none;
}

.history {
    color: #aaa;
    font-size: 14px;
    height: 20px;
}

button {
    height: 50px;
    font-size: 18px;
    border-radius: 10px !important;
}
